{% extends "base.html.twig" %}

{% block body %}
    <div class="container lage__container">
        <div class="lage">
            <h2 class="lage__title">
                Lieferauftrag
            </h2>
            {{ form_start(form, {'attr': {'class': 'lage__form', 'id': 'registerFormElement'}}) }}
            <div class="lage__form_body">
                <div class="lage__form_input">
                    <label class="saeule_1">{{ form_label(form.material_1) }}</label>
                    {{ form_widget(form.material_1) }}
                </div>
                <div class="lage__form_input">
                    <label class="saeule_1">{{ form_label(form.material_2) }}</label>
                    {{ form_widget(form.material_2) }}
                </div>
                <div class="lage__form_input">
                    <label class="saeule_1">{{ form_label(form.material_3) }}</label>
                    {{ form_widget(form.material_3) }}
                </div>
            </div>
            {{ form_end(form) }}
            <div class="deco_1"></div>
            <div class="deco_2"></div>
        </div>
    </div>
{% endblock %}


